.search {
  border: none;
  border-radius: 47px;
  outline: none;
  padding: 10px;
  width: 330px;
  line-height: 17px;
  margin-bottom: 6px;
  margin-top: 30px;
  margin-left: 67px;
  text-align: center;
}
