.user-name {
  border: 1px solid #f4f4f4;
}

.user-detail {
  background-color: #fff;
  height: 100%;

  .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
  }
}

// .image-wrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   .profile-img {
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     margin: 10px 20px;
//   }
// }

// .chat-message {
//   padding: 20px;
//   border-radius: 10px;
//   flex-basis: 70%;
// }
