.items {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
}

.items-list {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;

  &:hover {
    color: red;
  }
}
